<ion-view ng-controller="CommunicationCtr as communicationCtr">
	<ion-nav-buttons side="left">
        <button class="button-clear" ng-click="communicationCtr.goBack()"><i class="ion-arrow-left-c"></i> Back</button>
    </ion-nav-buttons>
	<ion-nav-title>{{ communicationCtr.title }}</ion-nav-title>
	<ion-content padding="true">
		<div class="list">
			<a href="" class="item item-avatar">
				<h2>Text Message</h2>
				<p>This is a text message</p>	<button align="right" class="button">
			  Add note
			</button>
			</a>
		</div>
	</ion-content>
</ion-view>
