<ion-view ng-controller="CommunicationCtr as communicationCtr">
	<ion-nav-buttons side="left">
        <button class="button-clear" ng-click="communicationCtr.goBack()"><i class="ion-arrow-left-c"></i> Back</button>
    </ion-nav-buttons>
	<ion-nav-title>{{ communicationCtr.contact.name }}</ion-nav-title>
	<ion-content>
		<ion-list>
			<ion-item ng-repeat="text in communicationCtr.texts">
				<h2 ng-if="text.type == 1">{{ communicationCtr.contact.name }}</h2>
				<h2 ng-if="text.type == 2">You</h2>
				<p>{{ text.body }}</p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
