<ion-view title="Contacts" ng-controller="ContactCtr as contactCtr">
  <ion-nav-buttons side="right">
    <a class="button" ng-href="#/addContact">Add Contact</a>
  </ion-nav-buttons>
  <div class="ion-view">
    <ion-content padding="true" >
      <div class="list" ng-repeat="contact in contactCtr.contacts" >
            <a ng-href="#/profile/{{ contact.ContactId }}" class="item item-avatar">
              <img src="" alt="">
              <h2>{{ contact.Name }}</h2>
              <!--<p>This will be the first text message</p>-->
            </a>
          </div>
    </ion-content>
  </div>
</ion-view>
