<ion-view ng-controller="InformationCtr as informationCtrl">
	<ion-nav-title >{{ informationCtrl.title }}</ion-nav-title>	
	<ion-nav-buttons side="left">
    <button class="button-clear" ng-click="informationCtrl.goBack()">
    	<i class="ion-arrow-left-c"></i> Back
    </button>
  </ion-nav-buttons>
	<ion-nav-buttons side="right">
        <button ng-if="!informationCtrl.editing" class="button button-icon icon ion-edit" ng-click="informationCtrl.edit()"></button>
        <button ng-if="informationCtrl.editing" class="button button-icon icon ion-close" ng-click="informationCtrl.editing = false"></button>
        <button ng-if="informationCtrl.editing" class="button button-icon icon ion-checkmark" ng-click="informationCtrl.saveEdit()"></button>
    </ion-nav-buttons>

 
	<ion-content>
		<h1>Profile</h1>
		<div class="item">
			<p><strong>Edit Button Clicked</strong>{{informationCtrl.editing}}</p>
		</div>
		<div class="item">
			<p>
				<strong>Preferred Skill:</strong> 
		 		<div ng-if="!informationCtrl.editing">{{ informationCtrl.contact.pref }}
		 		</div>
				<input ng-if="informationCtrl.editing" class="item-input-wrapper" ng-model="informationCtrl.contact.pref" ng-keyup="searchList($event)" type="text"> 
			</p>
		</div>

		<div class="item"><strong>Triggers:</strong> 
			<ul class="bullet-list">
        <li ng-if="!informationCtrl.editing" ng-repeat="trigger in informationCtrl.contact.triggers">
        	<p>{{ trigger }}</p>
        </li>
        <div ng-if
			    ="informationCtrl.editing">
			    <li ng-repeat="trigger in informationCtrl.contact.triggers" class="item-icon-right item">
	        	<p>{{ trigger }}</p>
	        	<i class="icon  ion-minus-circled"></i>
			    </li>
			    <div on-tap="informationCtrl.addingTrigger = true" ng-if="!informationCtrl.addingTrigger" class="item item-icon-right">
			    	<h2>Add Trigger</h2>
				      <i class="icon ion-plus-circled"></i>
			    </div>
		     	<div ng-if="informationCtrl.addingTrigger" class="bar item item-input-inset"> 
      			<input class="item-input-wrapper"  placeholder="Add New Trigger" ng-model="informationCtrl.newTrigger" ng-keyup="searchList($event)" type="text"> 
      			<i on-tap="informationCtrl.addTrigger(); informationCtrl.addingTrigger = false"class="icon ion-plus placeholder-icon"></i>
 					</div>	
 				</div>
	    </ul>
		</div>
		<div class="item">
			<p><strong>More:</strong></p>
			<p ng-if="!informationCtrl.editing">
				{{ informationCtrl.contact.extra }}
			</p>
			<input ng-if="informationCtrl.editing" class="item-input-wrapper item-input" ng-model="informationCtrl.contact.extra" type="text">
		</div>
		<div ng-if="!informationCtrl.editing" class="list card">
	    <div class="item item-icon-right">
	    	<h2>Mobile</h2>
  			<p>{{ informationCtrl.contact.mobile }}</p>
	      <div class="icon">
		      <i class="ion-ios-chatboxes" style="margin-right: 10px"></i>
		      <i class="ion-ios-telephone"></i>
		   	</div>
	    </div>
	    <div class="item item-icon-right">
	      <i class="icon ion-home"></i>
	      <h2>Home Address</h2>
	      <p> {{ informationCtrl.contact.address}}
	    </div>
	  </div>
	  <div  ng-if="informationCtrl.editing" class="list card">
	    <div class="item item-icon-right">
	    	<h2>Mobile</h2>
				<input ng-model="informationCtrl.contact.mobile" class="item-input-wrapper" type="tel">
				
	    </div>
	    <div class="item">
	      Home Address
				<input ng-model="informationCtrl.contact.address" class="item-input-wrapper"ng-keyup="searchMaps($event)" type="text">
	    </div>
	  </div>
	  	<ul class="list">
		  <li class="item item-toggle">
		     Automatically Import Texts
		     <label class="toggle toggle-balanced">
		       <input type="checkbox">
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		  </li>
		  <li class="item item-toggle">
		     Automatically Import Calls
		     <label class="toggle toggle-balanced">
		       <input type="checkbox">
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		  </li>
		</ul>
	</ion-content>
</ion-view>
