<ion-view ng-controller="InformationCtr as info">
	<ion-nav-buttons side="left">
        <button class="button-clear" ng-click="info.goBack()"><i class="ion-arrow-left-c"></i> Back</button>
    </ion-nav-buttons>
	<ion-nav-title>{{ info.title }}</ion-nav-title>
	<ion-content padding="true">
		<h1>Profile</h1>
		<div class="list">
			<!-- Client Description Will go here -->
			<p class="item"><strong>Preferred Skill:</strong>
				{{ info.details.pref }} 
			</p>				
			<div class="item"><strong>Triggers:</strong> 
				<ul class="bullet-list">
			        <li ng-repeat="trigger in info.details.triggers">
			        	<p>{{ trigger }}</p>
			        </li>
			    </ul>
			
			</div>
			<p class="item"><strong>More:</strong>
			 {{ info.details.extra }} 
			</p>
		</div>
		<div class="list card">
		    <div class="item item-icon-right">
		    	<h2>Mobile</h2>
	  			<p>{{ info.number }}</p>
		      <div class="icon">
			      <i class="ion-ios-chatboxes margin-5"></i>
			       <i class="ion-ios-telephone"></i>
			   </div>
		    </div>
		    <div class="item item-icon-right">
		      <i class="icon ion-home"></i>
		      Home Address
		    </div>
	  	</div>
	  	<ul class="list">
		  <li class="item item-toggle">
		     Automatically Import Texts
		     <label class="toggle toggle-balanced">
		       <input type="checkbox">
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		  </li>
		  <li class="item item-toggle">
		     Automatically Import Calls
		     <label class="toggle toggle-balanced">
		       <input type="checkbox">
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		  </li>
		</ul>
	</ion-content>
</ion-view>
